<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Login System</title>
</head>

<body>
    <table cellpadding="4" cellspacing="4" border="2" class="table table-hover">
        <thead>
            <tr>
                <th width="10%" scope="col">Id</th>
                <th width="10%" scope="col">Title</th>
                <th width="80%" scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ id }}</td>
                <td>{{ title }}</td>
                <td>{{ description }}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>